# Flutter
.dart_tool/
.packages
pubspec.lock
build/
*.iml
.idea/
.vscode/
*.swp
*.swo

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Env
.env

# Node
node_modules/
functions/node_modules/

# OS
.DS_Store
Thumbs.db
